{% extends 'admin/layout.html' %}
{% set page_title = "Users" %}

{% block page_style %}{% endblock %}

{% block page_body %}
<div class="container my-5">
  <h3>User Manager</h3>
  <hr class="mb-3" />

  <form class="d-flex flex-wrap gap-3 align-items-end mb-3 border border-1 p-3 rounded-3">
    <div>
      <label for="search" class="form-label">Search:</label>
      <input name="search" id="search" type="text" class="form-control" placeholder="Search here...">
    </div>
    <button type="submit" class="btn btn-dark"><i class="bi bi-search me-2"></i>Search</button>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Username</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{user._id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.username}}</td>
          <td nowrap>
            <a href="{{url_for('admin.manage_user',user_id=user._id)}}" class="btn btn-dark">
              <i class="bi bi-gear me-2"></i>Manage
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block page_script %}{% endblock %}