{% extends 'layout.html' %}
{% set page_title = "Page Not Found" %}

{% block page_style %}
{% endblock %}

{% block page_body %}
<div class="py-5 text-center mt-5">
  <h1 class="display-1 fw-bold mb-2">404</h1>
  <p class="fs-5 text-secondary fw-medium">Sorry, this page doesn't exist.</p>
  <a class="btn btn-lg btn-dark" href="/">Return to {{'Dashboard' if session.user else 'Homepage'}}</a>
</div>

{% endblock %}

{% block page_script %}
<script>
  document.querySelector('body').classList.add('pattern-bg')
</script>
{% endblock %}