{% extends 'layout.html' %}
{% set page_title = "Watchlist" %}

{% block page_style %}
<link rel="stylesheet" href="{{url_for('static',filename='custom/css/sw.card.css')}}">
{% endblock %}

{% block page_body %}
<div class="container my-5">
  <div class="mb-5 d-flex flex-wrap gap-2 align-items-end">
    <h1 class="mb-0">My Watchlist</h1>
    <span class="badge text-bg-dark fw-normal mb-1">{{watchlist|length}} items</span>
  </div>
  {% if watchlist|length != 0 %}

  <!-- Filter Form -->
  <form class="d-flex flex-wrap gap-2 align-items-end mb-3">
    <div class="flex-fill">
      <label for="search" class="form-label text-secondary fw-medium">Search:</label>
      <input name="search" id="search" value="{{page_details.search if page_details.search else ''}}" type="text"
        class="form-control form-control-lg" placeholder="Search here...">
    </div>
    <div>
      <label for="type" class="form-label text-secondary fw-medium">Type:</label>
      <select name="type" id="type" class="form-select form-select-lg">
        <option value="">All</option>
        <option {{'selected' if page_details.type=='Movie' }}>Movie</option>
        <option {{'selected' if page_details.type=='TV' }}>TV</option>
      </select>
    </div>
    <div>
      <label for="sort" class="form-label text-secondary fw-medium">Sort by:</label>
      <select name="sort" id="sort" class="form-select form-select-lg">
        <option value="date_added" {{'selected' if page_details.sort=='date_added' }}>Date added</option>
        <option value="latest" {{'selected' if page_details.sort=='latest' }}>Latest</option>
        <option value="oldest" {{'selected' if page_details.sort=='oldest' }}>Oldest</option>
        <option value="rating_high" {{'selected' if page_details.sort=='rating_high' }}>Rating (high to low)</option>
        <option value="rating_low" {{'selected' if page_details.sort=='rating_low' }}>Rating (low to high)</option>
        <option value="title_asc" {{'selected' if page_details.sort=='title_asc' }}>A-Z</option>
        <option value="title_desc" {{'selected' if page_details.sort=='title_desc' }}>Z-A</option>
      </select>
    </div>
    <button type="submit" class="btn btn-lg btn-purple"><i class="bi bi-search me-2"></i>Search</button>
  </form>
  <!-- X -- Filter Form -- X -->

  <!-- Pagination Top -->
  <div class="mb-3 text-center">
    <a class="btn btn-dark {{'disabled' if page_details.page <= 1}}" href="?page={{page_details.page-1}}">
      Previous page
    </a>
    <a class="btn btn-dark {{'disabled' if watchlist|length < 100}}" href="?page={{page_details.page+1}}">
      Next page
    </a>
  </div>
  <!-- X -- Pagination Top -- X -->

  <!-- Watchlist -->
  <div class="row row-cols-2 row-cols-md-4 row-cols-lg-6 row-gap-4">
    {% for title in watchlist %}
    <div id="{{title._id}}" class="col">
      <div class="sw-card card text-bg-dark border-0">
        <img src="{{title.poster}}" class="card-img">
        <div class="card-img-overlay d-none align-items-center justify-content-center">
          <button data-id="{{title._id}}" class="watchlist-btn del-from-watchlist btn btn-dark stretched-link fs-5">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <div class="mt-2">
        <h6>{{title.title}} ({{title.year}})</h6>
        <span class="badge text-bg-dark fw-normal d-inline-flex gap-1 align-items-center">
          <i class="bi bi-star-fill text-warning"></i>
          <span>{{title.rating}}</span>
        </span>
        <span class="badge text-bg-dark fw-normal">{{title.type}}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- X -- Watchlist -- X -->

  <!-- Pagination Bottom -->
  <div class="mt-3 text-center">
    <a class="btn btn-dark {{'disabled' if page_details.page <= 1}}" href="?page={{page_details.page-1}}">
      Previous page
    </a>
    <a class="btn btn-dark {{'disabled' if watchlist|length < 100}}" href="?page={{page_details.page+1}}">
      Next page
    </a>
  </div>
  <!-- X -- Pagination Bottom -- X -->

  {% else %}

  <div class="text-center my-5">
    <h1><i class="bi bi-bookmark-star-fill"></i></h1>
    <p class="fs-3">Your Watchlist is empty</p>
    <p class="fs-5 text-secondary">Add movies and shows to your Watchlist to keep track of what you want to watch.</p>
    <div class="d-flex flex-wrap gap-2 justify-content-center">
      <a href="{{url_for('views.browse')}}?type=Movie" class="btn btn-lg btn-purple bg-gradient"><i
          class="bi bi-film me-2"></i>Browse latest movies</a>
      <a href="{{url_for('views.browse')}}?type=TV" class="btn btn-lg btn-purple bg-gradient"><i
          class="bi bi-tv me-2"></i>Browse latest shows</a>
    </div>
  </div>

  {% endif %}
</div>
{% endblock %}

{% block page_script %}
<script src="{{url_for('static',filename='custom/js/watchlist.manager.js')}}"></script>
{% endblock %}