.nav-pills .nav-link {
  text-align: start;
}

.sticky-top.bg-light {
  background-color: rgba(var(--bs-light-rgb), .9) !important;
}

[data-bs-theme="dark"] .sticky-top.bg-light {
  background-color: rgba(var(--bs-dark-rgb), .9) !important;
}